@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Pretty Stuff */

.contact-form-container {
    background: #F4F3F3;
    font-family: "Catamaran", sans-serif;
    border-radius: 30px;
}

.contact-us {
    position: relative;
    width: 250px;
    background: #C3E0EC;
    overflow: hidden;
    border-radius: 30px 0 0 30px;
}

.contact-us:before {
    position: absolute;
    content: "";
    bottom: -50px;
    left: -100px;
    height: 250px;
    width: 400px;
    background: #F8B7D8;
    transform: rotate(25deg);
}

.contact-us:after {
    position: absolute;
    content: "";
    bottom: -80px;
    right: -100px;
    height: 270px;
    width: 400px;
    background: #9ED8EB;
    transform: rotate(-25deg);
}

.contact-header {
    color: white;
    position: absolute;
    transform: rotate(-90deg);
    top: 120px;
    left: -40px;
}

.contact-header h1 {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.social-bar {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    width: 100%;
}

.social-bar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.social-bar ul li {
    display: inline-block;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: -4px;
    font-size: 1.2rem;
}

.header {
    text-align: center;
    padding: 20px 0;
    color: #444;
}

.header h1 {
    font-weight: normal;
}

.header h2 {
    margin-top: 10px;
    font-weight: 300;
}

.address,
.email,
.phone {
    text-align: center;
    padding: 20px 0;
    color: #444;
}

.address h3,
.email h3,
.phone h3 {
    font-size: 1rem;
    font-weight: 300;
}

.address i,
.email i,
.phone i {
    color: #F8B7D8;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

form {
    position: relative;
    width: 440px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
}

form input,
form textarea {
    background: white;
    display: block;
    margin: 20px auto;
    width: 100%;
    border: 0;
}

form input {
    height: 40px;
    line-height: 40px;
    outline: 0;
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
    font-size: 1rem;
    color: rgba(68, 68, 68, 0.8);
}

form textarea {
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
    resize: none;
    outline: none;
    font-size: 1rem;
    font-family: lato;
    color: rgba(68, 68, 68, 0.8);
}

form button {
    position: absolute;
    display: block;
    height: 40px;
    width: 250px;
    left: 95px;
    border: 0;
    border-radius: 20px;
    bottom: -20px;
    background: #9ED8EB;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    outline: none;
    cursor: pointer;
}

.contact-form {
    padding-bottom: 40px;
}


/* Layout Stuff */

body {
    background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMGJvb2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60');
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 0.5fr 2fr 0.5fr;
}

.contact-form-container {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
}

.contact-us {
    grid-area: contact-us;
}

.header {
    grid-area: header;
}

.address {
    grid-area: address;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.contact-form {
    grid-area: contact-form;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
footer{
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-self: center;
    position: fixed;
    bottom: 30px;
    padding-top: 70px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

@media screen and (max-width: 850px) {
    .contact-form-container{
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .contact-us{
        display: none;
    }
    .contact-form {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.navbar {
    font-size: 1.2rem;
    width: 100%;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 2rem;
    text-align: center;
}

.navbar ul {
    justify-self: flex-end;
    text-transform: uppercase;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    list-style: none;
}

.navbar a {
    padding: 2rem;
}

.nav ul {
    list-style: none;
}
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}
.burger span {
    width: 2rem;
    height: 0.25rem;
    background: black;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}
.navbar ul.nav-active{
    padding: 10px 0px;
    position: absolute;
    top: 7rem;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    background: rgb(98, 98, 98);
    padding: 10px 0;
    z-index: 10;
}

@media screen and (min-width: 850px) {
    .navbar ul{
        display: flex;
        max-height: none;
        width: 100%;
        justify-content: center;
    }
    .navbar ul li:hover{
        transition: .5s ease;
    }
    .navbar ul li a{
        color: #333
    }
    .burger{
        display: none;
    }
    .navbar a:hover {
        border-radius: 50px;
        transition: 0.5s;
        background-color: black;
        color: white;
    }
}
@media screen and (max-width: 850px) {
    .navbar ul{
        display: none;
    }
    .burger {
        display: flex;
        justify-self: flex-end;
        margin: 0 30px;
    }
    .navbar ul li {
        text-align: center;
    }
    .navbar ul li a{
        text-align: center;
        color: #b8b8b8;
        padding: 1rem;
    }
    .navbar ul li a:hover {
        transition: 0.5s ease;
        color: white;
    }
}
