body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    margin: 0;
    padding: 0;
}

#navigation-bar ul li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

nav {
    background-color: black;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-link {
    color: #ffffff !important;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

#my-name:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#home-page {
    background-image: url("https://68.media.tumblr.com/f49bf816bf1ce146146303730ecc4e94/tumblr_op8h6y7BFu1woo9z4o1_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 45em;
    background-color: #eceeef;
    margin: 0;
    border-radius: 0;
}

#about-page {
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 3em;
}

#presentation-about-page {
    border-right: 1px dashed #dadada;
}

#portfolio-page {
    margin: 0;
}

.headings {
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
}

.section-hr {
    width: 60%;
}

.jumbotron {
    border-radius: 0;
}

#contact-page {
    padding-top: 3em;
}

#contact-content-right {
    border-left: 1px dashed #dadada;
    padding-top: 3em;
}

.icon-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.portfolioProjectHover:hover {
    background-color: rgba(0, 0, 0, 0.9);
}