<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.css">
    <title>Apexel Development | Services</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <div class="container">
            <h1 class="logo">Apexel Dev</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/about-us">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
    </nav>

    <article>
        <section class="card">
            <div class="text-content">
                <h3>Book Promotion</h3>
                <p>Create an immersive and comprehensive web page for your book featuring its title, author details, captivating synopsis, stunning book cover, memorable quotes, author's background, and publication information.</p>
                <a href="services-1">View More</a>
            </div>
            <div class="visual">
                <img src="https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="" />
            </div>
        </section>

        <section class="card">
            <div class="text-content">
                <h3>E - Commerce Website</h3>
                <p>Establish your online presence with a fully customizable e-commerce platform, allowing you to sell your books directly to readers, manage orders, and promote your writing career seamlessly.</p>
                <a href="services-2">View More</a>
            </div>
            <div class="visual">
                <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8d2Vic2l0ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="" />
            </div>
        </section>

        <section class="card">
            <div class="text-content">
                <h3>Blog Website</h3>
                <p>Share your thoughts, connect with your audience, and enhance your author brand through an engaging blog site that showcases your writing journey, updates, and literary insights.</p>
                <a href="services-3">View More</a>
            </div>
            <div class="visual">
                <img src="https://plus.unsplash.com/premium_photo-1670071482180-747498494ca6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGJsb2d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60" alt="" />
            </div>
        </section>
    </article>
</body>

</html>
