<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.css">
    <link rel="stylesheet" href="service.js">
    <title>Apexel Development | E - Commerce Website</title>
</head>

<body>
    <nav class="flex-nav" id="service">
        <div class="container">
            <div class="grid menu">
                <div class="column-xs-8 column-md-6">
                    <p id="highlight">Apexel Development</p>
                </div>
                <div class="column-xs-4 column-md-6">
                    <a href="#" class="toggle-nav">Menu <i class="ion-navicon-round"></i></a>
                    <ul>
                        <li class="nav-item"><a href="/">HOME</a></li>
                        <li class="nav-item"><a href="/services">SERVICES</a></li>
                        <li class="nav-item"><a href="/contact">CONTACT</a></li>
                        <li class="nav-item"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&business=B3TFWMRE2XZ3E&display=1">CART</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="grid second-nav">
                <div class="column-xs-12">
                    <nav>
                        <ol class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/services">Services</a></li>
                            <li class="breadcrumb-item active">E - Commerce Website</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="grid product">
                <div class="column-xs-12 column-md-7">
                    <div class="product-gallery">
                        <div class="product-image">
                            <img class="active" src="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHdlYnNpdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60">
                        </div>
                    </div>
                </div>
                <div class="column-xs-12 column-md-5">
                    <h1>E - Comemrce Website</h1>
                    <h2>$1,800</h2>
                    <div class="description">
                        <p>Showcase your books in style and turn your passion into profit by selling directly to your readers through a fully customizable online store, complete with secure payment gateways and seamless order management. With our e-commerce
                            solution, you can focus on what you do best—writing captivating stories—while we handle the technicalities, empowering you to thrive in the ever-expanding world of online book sales.</p>
                        <p>INCLUSIONS</p>
                        <p>product listing, shopping cart, payment gateway, order & inventory management, customer database, analytic & reporting, CMS, SEO, responsive design, security features, customer support</p>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HTR9TC76HQ7P8">
                        <button class="add-to-cart">Add To Cart</button>
                    </a>
                </div>
            </div>
            <div class="grid related-products">
                <div class="column-xs-12">
                    <h3>You may also like</h3>
                </div>
                <div class="column-xs-12 column-md-4">
                    <a href="/services-3">
                        <img src="https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJsb2d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60">
                        <h4>Blog Website</h4>
                        <p class="price">Basic: $900</p>
                        <p class="price">Premium: $1,500</p>
                    </a>
                </div>
                <div class="column-xs-12 column-md-4">
                    <a href="/services-1">
                        <img src="https://media.istockphoto.com/id/1413618400/photo/studying-self-development-hands-aesthetic-on-bright-background-artwork-concept-of-human.webp?b=1&s=170667a&w=0&k=20&c=mTGB_5DcIBumrnBaVwKzalcTVta4CazgYpHYYTlqxUY=">
                        <h4>Book Promotion</h4>
                        <p class="price">$1,000</p>
                    </a>
                </div>

            </div>
        </div>
    </main>
</body>

</html>
