* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

a {
    color: #444;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: auto;
    overflow: hidden;
}

.navbar {
    font-size: 1.2rem;
    padding-bottom: 5rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.navbar a {
    padding: 0 1rem;
}

.navbar a:hover {
    color: white;
    background-color: black;
    border-radius: 50px;
    transition: 0.5s;
}

section.card {
    background: #f6f6f6;
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 84px 0;
    width: 60vw;
    max-width: 920px;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3), -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
}

section.card .text-content {
    display: flex;
    flex-direction: column;
    width: calc(60vw - 192px);
}

section.card .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
}

section.card .text-content p {
    margin: 16px 0 24px;
    max-width: 36ch;
}

section.card .text-content a {
    border: 3px solid #000;
    color: #000;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
}

section.card .text-content a:hover {
    background: #000;
    color: white;
}

section.card .visual {
    width: 240px;
    height: 100%;
    position: absolute;
    top: -24px;
    left: 24px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.25), 2px 6px 12px rgba(0, 0, 0, 0.25);
}

section.card .visual img {
    height: 110%;
}

section.card:nth-of-type(odd) {
    margin: 0 0 0 248px;
    border-radius: 24px 24px 48px 24px;
    padding: 48px 308px 48px 60px;
}

section.card:nth-of-type(odd) .visual {
    right: 24px;
    left: auto;
}

section.card:nth-of-type(odd) .text-content a {
    align-self: flex-start;
}

article {
    margin: auto;
    display: block;
    width: calc(60vw + 248px);
    max-width: calc(920px + 248px);
    min-width: calc(640px + 248px);
}

body {
    margin: 0;
    padding: 96px;
    font-size: 21px;
    background: #fff;
    color: #000;
    font-family: "gelica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media all and (max-width: 1100px) {
    body {
        padding: 96px 48px 24px;
    }
    article {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    section.card {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    section.card .text-content {
        width: 100%;
    }
    section.card:nth-of-type(odd) {
        margin: 0;
    }
}

@media all and (max-width: 720px) {
    body {
        padding: 48px 24px 0;
    }
    section.card {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
    }
    section.card:nth-of-type(odd) {
        padding: 88px 36px 36px;
        border-radius: 24px;
    }
    section.card .text-content h3 {
        max-width: calc(100% - 150px);
        font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
        font-size: 0.8em;
    }
    section.card .visual,
    section.card:nth-of-type(odd) .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
    }
    section.card .visual img,
    section.card:nth-of-type(odd) .visual img {
        width: 100%;
        height: auto;
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
