:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Catamaran', sans-serif;
    color: #333;
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

a {
    color: #444;
    text-decoration: none;
}

.adlogo img {
    width: 700px;
    height: 600px;
}

ul {
    list-style: none;
}

.container {
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
    padding: 0 5rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 2rem;
}

.navbar .login-profile {
    justify-self: flex-end;
    align-self: center;
}

.navbar button {
    padding: 5px 20px;
    background-color: #4d4d4d;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.navbar button:hover {
    transition: 0.5s ease;
    background-color: #000000;
    transform: scale(1.05);
}

.navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.navbar a {
    padding: 0 1rem;
}

.navbar a:hover {
    color: #555;
}

.section-a {
    margin: 2rem 0;
}

.section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

.section-b {
    position: relative;
    background: url('https://images.unsplash.com/photo-1645199055520-ea95499e3fb9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YXV0aG9ycyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60') no-repeat bottom center/cover;
    height: 600px;
}

.section-b-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.section-b-inner h3 {
    font-size: 2rem;
}

.section-b-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;
}

.section-b-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a:first-child {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.section-c .gallery img,
.section-c .gallery a {
    width: 100%;
    height: 100%;
}

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-footer h3 {
    margin-bottom: 0.7rem;
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;
}

.section-footer a>i {
    color: #555;
    margin-right: 0.5rem;
}

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}


/* // .form-control-wrap {
  // 	position: relative;
  // 	display: inline-block;
  // 	width: 100%;
  // } */

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

.btn:hover {
    background: var(--secondary-color);
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-color);
}

@media (max-width: 700px) {
    .section-a .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .section-a .container div:first-child {
        order: 2;
    }
    .section-a .container div:nth-child(2) {
        order: -1;
    }
    .section-a img {
        width: 80%;
        margin: auto;
    }
    .section-c .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .section-c .gallery a:first-child {
        grid-row: 1/1;
        grid-column: 1/1;
    }
    .section-c .gallery a:nth-child(2) {
        grid-column: 2/4;
        grid-row: 2/2;
    }
    .section-c .gallery a:last-child {
        display: none;
    }
    .section-footer {
        padding: 2rem 0;
    }
    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .section-footer div:nth-child(2),
    .section-footer div:nth-child(3) {
        display: none;
    }
}


/*services*/

a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

p {
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
}

.section-c {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.825rem;
    margin: 1.3rem 0;
}

.service a {
    color: #5b7abb;
    display: block;
}

.service h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
}

.services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.service i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
    color: #42b7ca;
}

.service1:hover {
    border: 2px solid #42b7ca;
}

.cta1:hover {
    background-color: #42b7ca;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.cta2:hover {
    background-color: #425fca;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.cta3:hover {
    background-color: #9c42ca;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.service2 i,
.service2 h4,
.service2 .cta {
    color: #425fca;
}

.service2:hover {
    border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
    color: #9c42ca;
}

.service3:hover {
    border: 2px solid #9c42ca;
}

.service .cta1 .cta2 .cta3 span {
    font-size: 0.6rem;
}

.service>* {
    flex: 1 1 100%;
}

@media all and (max-width:900px) {
    .services-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

.hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}