<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us: Apexel Development</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/about-style.css">
</head>
<body>
    <header>
        <div class="b1">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Blue_globe_icon.svg/1200px-Blue_globe_icon.svg.png" style="height:30%; width:30%" alt="Globe">
            <p>APD</p>
        </div>
        </div>
        <div class="b2">
            <a href="/">HOMEPAGE</a>
            <a href="/services">SERVICES</a>
            <a href="/about-us">ABOUT US</a>
            <a href="/contact">CONTACT US</a>
        </div>
        <div class="b3">
            <% if (user && user.name) { %>
                <div class="b3-inner2"><i class="fa fa-shopping-basket"></i></div>
            <% }%>
            <div class="b3-inner3">
                <a href="/login"><i class="fa fa-user"></i></a>
            </div>
        </div>
    </header>
    <div class="team">
        <div class="left-side">
            
        </div>
        <div class="right-side">

        </div>
    </div>
</body>
</html>