<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.css">
    <link rel="stylesheet" href="service.js">
    <title>Apexel Development | Book Promotion</title>
</head>

<body>
    <nav class="flex-nav" id="service">
        <div class="container">
            <div class="grid menu">
                <div class="column-xs-8 column-md-6">
                    <p id="highlight">Apexel Development</p>
                </div>
                <div class="column-xs-4 column-md-6">
                    <i class="toggle-nav">Menu</i>
                    <ul>
                        <li class="nav-item"><a href="/">HOME</a></li>
                        <li class="nav-item"><a href="/services">SERVICES</a></li>
                        <li class="nav-item"><a href="/contact">CONTACT</a></li>
                        <li class="nav-item"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&business=B3TFWMRE2XZ3E&display=1">CART</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="grid second-nav">
                <div class="column-xs-12">
                    <nav>
                        <ol class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/services">Services</a></li>
                            <li class="breadcrumb-item active">Book Promotion</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="grid product">
                <div class="column-xs-12 column-md-7">
                    <div class="product-gallery">
                        <div class="product-image">
                            <img class="active" src="https://media.istockphoto.com/id/1413618400/photo/studying-self-development-hands-aesthetic-on-bright-background-artwork-concept-of-human.webp?b=1&s=170667a&w=0&k=20&c=mTGB_5DcIBumrnBaVwKzalcTVta4CazgYpHYYTlqxUY=">
                        </div>
                    </div>
                </div>
                <div class="column-xs-12 column-md-5">
                    <h1>Book Promotion</h1>
                    <h2>$1,000</h2>
                    <div class="description">
                        <p>Elevate your book's presence and reach new heights of success with our author website creation services. Harness the power of personalized branding and promotional tools to captivate readers, expand your fanbase, and increase book
                            sales. Let your words shine on a platform that effortlessly showcases your talent, making a lasting impact on the literary world.</p>
                        <p>INCLUSIONS</p>
                        <p>Book Title and Author, Synopsis, Book Cover, Book Quotes, Authors Background, Publication</p>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RH58R4UTC9VXQ">
                        <button class="add-to-cart">Add To Cart</button>
                    </a>
                </div>
            </div>
            <div class="grid related-products">
                <div class="column-xs-12">
                    <h3>You may also like</h3>
                </div>
                <div class="column-xs-12 column-md-4">
                    <a href="/services-2">
                        <img src="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHdlYnNpdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60">
                        <h4>E - Commerce Website</h4>
                        <p class="price">$1,800</p>
                    </a>
                </div>
                <div class="column-xs-12 column-md-4">
                    <a href="/services-3">
                        <img src="https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJsb2d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60">
                        <h4>Blog Website</h4>
                        <p class="price">Basic: $900</p>
                        <p class="price">Premium: $1,500</p>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
